@using ControleDeGastos.ApplicationCore.Entities

@model List<Category>

@{
    ViewData["Title"] = "Categories";
    Layout = "_Layout";

}


<div class="row mb-2">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4">Categories</h5>
                <a href="@(Url.Action("AddOrEdit","Categories"))" class="btn btn-primary mr-2"><i class="fa fa-plus"></i> Add New</a>
                <div class="table-responsive">
                    <table class="table center-aligned-table table-hover">
                        <thead>
                            <tr class="text-primary">
                                <th>Id</th>
                                <th>Category</th>
                                <th>Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var c in Model)
                                {

                                    <tr>
                                        <td>@c.Id</td>
                                        <td>@c.Description</td>
                                        <td>@(TypeTransactionConstant.GetDescriptionTypeTransaction(c.Type))</td>
                                        <td>
                                            <a href="@(Url.Action("AddOrEdit","Categories", new { id=c.Id }))"  class="btn btn-primary btn-sm">Edit</a>
                                            <a href="#" class="btn btn-danger btn-sm">Remove</a>
                                        </td>
                                       
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



